# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


/target
__pycache__
.idea/
node_modules/
*.npy
.venv
*.egg-info

docs/book
docs/src/api
logs
log*.json